.cot_toggle {
	float: left;
	margin-left: -20px;
	/*display: none;*/
	opacity: 0;
	-webkit-transition: opacity 0.5s ease-in;
	-moz-transition: opacity 0.5s ease-in;
	-o-transition: opacity 0.5s ease-in;
	transition: opacity 0.5s ease-in;
	position: relative;
}
.cot_item:hover>.cot_toggle {
	display: block;
	opacity: 1;
}

.cot_toggle_icon {
	background: white;
	padding: 1px;
	border: 1px solid black;
	border-radius: 4px;
	z-index: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
	max-width: 16px; /* override bootstrap's 100% */
}
.cot_toggle:hover>.cot_toggle_icon {
	border-right: none;
	border-radius: 4px 0px 0px 4px;
}

.cot_linkbox {
	position: absolute;
	top: 0px;
	left: 18px;
	width: 11em;
	background: white;
	border: 1px solid black;
	border-radius: 0px 4px 4px 4px;
	z-index: 0;
	padding-left: 2px;
	font-size: 14px;
	display: none;
}
.cot_toggle:hover>.cot_linkbox {
	display: block;
}
