<div class="row">
	<div class="span6 offset3">

<h2>Lorem ipsum? I 'ardly know 'um!</h2>

<p class="cot" id='lorem'>Lorem ipsum is an industry standard placeholder text; originally this page was full of it, but I'm slowly replaceing it with more useful words.</p>
<p class="cot" id='erroris'>The error in the above paragraph is intentional, so that you have something to comment on. Go on, try it :-)</p>

<div class="cot" id="blog-photo"><img src="http://code.shishnet.org/thumbs/wp-deusex-360x150.jpg" style="float: left; margin-right: 1em;"></div>

<p>Here's a screenshot of my personal blog for you to comment on. Isn't it pretty?
(No thanks to me though, I just copied Deus Ex's UI... Deus Ex is a pretty awesome
game BTW, a cyberpunk first-person RPG where "first person" doesn't mean "violence
is always the best option". Human Revolution is pretty cool too, though the bosses
are insanely hard unless you have a combat-based character...)</p>

<pre class="cot" id="duck">
Also, here is an ascii duck:
       __
     &gt;(' )
       )/
      /( 
     /  `----/ 
jgs  \  ~=- /
   ~^~^~^~^~^~^~^
</pre>

<p class="cot" id='end'>Hopwfully these are enough things to demonstrate how CoT works :3</p>

	</div>
</div>

<script src="http://www.commentonthis.net/cot/cot.js"></script>
<script>cot_init("Shish", ".cot");</script>
