<div class="hero-unit">
	<h1>Comment on This!</h1>
	<p class="cot" id="tldr">CoT allows you to collect feedback on any part of a web
	page, with minimal effort on your part. Examples of times it would be
	useful would be for annotating essays, stories, tutorials, or technical
	documentation.</p>
	<p><a class="btn btn-primary btn-large" href="/about/demo">Demo &raquo;</a></p>
</div>

<div class="row">
	<div class="span4" id="about">
		<h2>About</h2>
		<p class="cot"><a href="http://www.shishnet.org/">Shish</a> made this, because he thought it would be useful :3</p>
	</div><!--/span-->
	<div class="span4" id="contact">
		<h2>Contact</h2>
		<p class="cot"><a href="mailto:spam@shishnet.org">Email</a> (replace spam with the name of the guy who made this.
		Or don't; it'll still reach my inbox, just might be sorted into the spam folder)</p>
		<!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
		</div><!--/span-->
	<div class="span4">
		<h2>Things</h2>
		<p class="cot">There isn't really very much here right now, check the demo and email me if you want to know more.</p>
		<!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
	</div><!--/span-->
</div><!--/row-->

<script src="/cot/cot.js"></script>
<script>cot_init("Shish", ".cot");</script>
