$def with(error="")

<div class="cot_form cot_new_user">
	<form method="POST" action="/dashboard/new">
		$error
		$if error:
			<br>
		<input type='text' name='username' placeholder="Username">
		<input type='email' name='email' placeholder="Email">
		<input type='password' name='password1' placeholder="Password">
		<input type='password' name='password2' placeholder="Repeat Password">
		<br><input class="btn btn-primary" type="submit" value="Create Account">
	</form>
	<center>
		<a href="/dashboard/login">Log In</a>
		/
		<a href="/dashboard/reset">Password Reset</a>
	</center>
</div>
