<h1>CommentOnThis Demo</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tortor libero, volutpat sed viverra sit amet, ornare quis arcu. Praesent sagittis ipsum ut sem vulputate sed placerat lacus posuere. Vestibulum euismod lobortis lacus eget sollicitudin. Vivamus aliquet pulvinar est ac malesuada.</p>
<p>Nulla placerat lectus in sapien pellentesque mollis eu ac eros. Vestibulum vestibulum pretium libero in fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam at sapien non nisi aliquam pulvinar et.</p>
<p id='3'>Ut elementum odio a lacus congue volutpat posuere metus lacinia. Nunc et malesuada nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi quis arcu risus, auctor eleifend risus. Phasellus tempus euismod varius. Maecenas pellentesque volutpat felis fermentum imperdiet.</p>
<p id='waffle'>Etiam at lacus odio. Pellentesque elit urna, convallis eu faucibus id, fringilla id dolor. Mauris in gravida mauris. Curabitur venenatis mattis imperdiet. Nullam in orci at justo volutpat pharetra. Aliquam porta suscipit urna, sit amet venenatis purus posuere at. Donec feugiat imperdiet dui, ac tincidunt nunc consectetur non.</p>
<p id='cake'>Etiam nulla quam, euismod ac laoreet a, blandit cursus nisl. Maecenas laoreet dictum felis, sed fermentum nunc adipiscing vel. Nam fermentum commodo fermentum. Curabitur elementum scelerisque erat, vitae sagittis neque consequat ac. Pellentesque nec urna nec magna pellentesque vehicula. Fusce id nisi erat.</p>

<script src="/cot/jquery.min.js"></script>
<script src="/cot/sha1.js"></script>
<script src="/cot/cot.js"></script>
<script>cot_init("shish", "P");</script>
