$var layout: full

<div class="hero-unit">
	<h1>Comment on This!</h1>
	<p class="cot" id="tldr">CoT allows you to collect feedback on any part of a web
	page, with minimal effort on your part. Examples of times it would be
	useful would be for annotating essays, stories, tutorials, or technical
	documentation.</p>
	<p><a class="btn btn-primary btn-large" href="/demo">Demo &raquo;</a></p>
</div>

<div class="row-fluid">
	<div class="span4" id="about">
		<h2>About Comment on This</h2>
		<p class="cot"><a href="http://www.shishnet.org/">Shish</a> made this, because he thought it would be useful :3</p>
	</div><!--/span-->
	<div class="span4" id="contact">
		<h2>Contact</h2>
		<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
		<p><a class="btn" href="#">View details &raquo;</a></p>
		</div><!--/span-->
	<div class="span4">
		<h2>Heading</h2>
		<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
		<p><a class="btn" href="#">View details &raquo;</a></p>
	</div><!--/span-->
</div><!--/row-->

<script src="/cot/jquery.min.js"></script>
<script src="/cot/sha1.js"></script>
<script src="/cot/cot.js"></script>
<script>cot_init("shish", ".cot");</script>
