$def with(username, page_urls, comments_on, comments_by)

<!--<h1>$username's Profile</h1>-->

<div class="row">
	<div class="span4">
	$if session.user.username != "Anonymous":
		<h2>Send $username a Message</h2>
		<div class="cot_form">
			<form action="/pm/new" method="POST">
				<input type="hidden" name="user_to" value="$username">
				<textarea name="content"></textarea>
				<br><input class="btn btn-primary" type="submit" value="Send">
			</form>
		</div>

		<p>&nbsp;

	$#endif
		<h2>Pages</h2>
		<ul>
		$if not page_urls:
			<li>No pages have active comments</li>
		$for page_url_row in page_urls:
			<li>
				<a href="$page_url_row.page_url">$shorten_url(page_url_row.page_url)</a> -
			$if page_url_row.comments == 1:
				<a href="/comment?page_url=$page_url_row.page_url">$page_url_row.comments Comment</a>
			$else:
				<a href="/comment?page_url=$page_url_row.page_url">$page_url_row.comments Comments</a>
			</li>
		</ul>
		<!--<p><a class="btn" href="#">View full list &raquo;</a></p>-->
	</div>

	<div class="span4">
		<h2>Comments By $username</h2>
		<ul>
		$if not comments_by:
			<li>No comments</li>
		$for c in comments_by:
			<li>$c.content
			<br><i>
			$if c.private:
				Private
			on <a href="/user/$c.page_owner">$c.page_owner</a>'s <a href="$c.page_url#$c.item_id">$get_domain(c.page_url)</a>
			at $shorten_datetime(c.date_posted)
			</i></li>
		</ul>
		<!--<p><a class="btn" href="#">View full list &raquo;</a></p>-->
	</div>
	<div class="span4">
		<h2>Comments On $username's Pages</h2>
		<ul>
		$if not comments_on:
			<li>No comments</li>
		$for c in comments_on:
			<li>$c.content
			<br><i><a href="/user/$c.commenter">$c.commenter</a> posted
			$if c.private:
				privately
			on <a href="$c.page_url#$c.item_id">$get_domain(c.page_url)</a>
			at $shorten_datetime(c.date_posted)
			</i>
			</li>
		</ul>
		<!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
	</div>
</div><!--/row-->
